body {
  margin: 0;
  height: 100vh;
  background-color:#FFFFFF;
  overflow: hidden;
}

span {
  background: url("./icon.png");
  width: 100px;
  height: 100px;
  position: absolute;
  pointer-events: none;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: animate 6s linear;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%);
    filter: opacity(0);
  }
  100% {
    transform: translate(-50%, -5000%);
    filter: opacity(0.9);
  }
}